
*{box-sizing: border-box;}
body{
	margin: 0;
	line-height: 1.45;
}


.page{
	max-width: 1200px;
	margin: 24px auto;
	padding: 0 16px;
}


#contenedor{
	display: block;
}

.bloque{
	padding: 14px 16px;
	display:block;
	width: auto;
	min-width: 0;
}


#datos-libro{list-style:none;padding:0;margin:0}
#datos-libro li{margin:0 0 6px 0;font-size:0.95rem}


.contenido-list{margin:0;padding-left:1em}


.contenido-list li{margin-bottom:0.6rem}


@media screen and (max-width: 600px){
	#contenedor{
        flex-direction:column
    }

	.bloque{
        flex:0 0 100%;
        max-width:100%
    }

	#datos-libro li{
        display:inline;
        margin-right:0.4rem
    }
	#datos-libro li::after{
        content:"";
        margin-left:0.4rem
    }
	#datos-libro li:last-child::after{
        content:""
    }

	
	.contenido-list{
        column-count:1
    }
}

@media screen and (min-width: 600px) and (max-width: 1199.98px){
	#contenedor{
		display:flex;
		flex-wrap:nowrap;
		gap:20px;
		align-items:flex-start;
	}

	.bloque{flex:0 0 auto;max-width:100%}

	#contenedor > .bloque:first-of-type{
		flex:0 0 33.3333%;
		max-width:33.3333%;
	}

	#contenedor > .right-col{
		flex:0 0 66.6666%;
		max-width:66.6666%;
		display:flex;
		flex-direction:column;
		gap:20px;
		min-width:0; 
		align-items:stretch;
	}

	
	#contenedor > .right-col > .bloque{
		flex:0 0 100%;
		max-width:100%;
	}

	
	#datos-libro li{
        display:list-item;
        margin-bottom:6px;
        list-style-type: disc;
    }
	#datos-libro li::after{
        content:""
    }

	.contenido-list{
		display: grid;
		grid-template-columns: repeat(3, minmax(0, 1fr));
		gap: 0.6rem 1rem;
		list-style: none;
		padding-left: 0; 
	}

	.contenido-list li{
		display: block;
		margin: 0;
	}
}

@media screen and (min-width: 1200px){
	#contenedor{
        display:flex;
        flex-wrap:nowrap;
        gap:24px;
        align-items:flex-start
    }

	#contenedor > .bloque:first-of-type{
        flex:0 0 33.3333%;
        max-width:33.3333%
    }
	
	#contenedor > .right-col{
        flex:0 0 66.6666%;
        max-width:66.6666%;
        display:flex;
        flex-direction:row;
        gap:24px
    }
	#contenedor > .right-col > .bloque{
        flex:0 0 50%;
        max-width:50%
    }
	.contenido-list{
        column-count:1
    }

    #datos-libro li{
        list-style-type: disc;
    }
}




