
/* fuente importada de google fonts */
.macondo-regular {
  font-family: "Macondo", cursive;
  font-weight: 400;
  font-style: normal;
}

html,body{
    margin: 0;
    padding: 0;
    height: 100%;
}

body{
    background-color: #f8f9fa;
    font-family: "Macondo", cursive;
    background-image: url('../imgs/fondo2.jpg');
    background-size: cover;
    background-position: engine;
    background-attachment: fixed;
    height: 90vh;
}
header{
    background-color: #333333;
    color: white;
    padding: 10px 0;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    justify-content: space-between;
    border-radius: 10rem;
    margin: 2rem;
}

header h1{
    margin: 0;
}

#logo{
    height: 3.5rem;
    margin: 1rem;
}

/* menu de navegacion */
.menu{
    margin-left: 20px;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: end;
    width: 100%;
    margin-right: 2rem;
}

/* enlaces del menu de navegacion */
.menu a{
    margin: 0.7rem;
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-family: "Macondo", cursive;
    padding: 10px;
}

.menu a:hover{
    background-color: #F2C9D5;
    color: #333333;
    padding: 10px;
    border-radius: 2rem;
}

.intro{
    height: 90vh;
    margin-top: -1.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 2px 2px 4px #333333;
}

.intro h1{
    font-size: 3rem;
    margin: 0;
}

/* boton de la pagina de inicio */ 
.btn-primary{
    background-color: #333333;
    border: none;
    padding: 10px 20px;
    color:  #F2C9D5;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 5px;
    margin-top: 20px;
    font-family: "Macondo", cursive;
    font-weight: bold;
}

.seccion2{
    background-color: white;
    padding: 7rem;
    display: flex;
    justify-content: flex-start;
    
}
.texto-seccion2{
    display: flex;
    flex-direction: column;
}
.seccion2 img{
    width: 35rem;
    height: 27rem;
    border-radius: 3rem;
    box-shadow: #333333 5px 5px 15px;
    margin: 2rem;
    margin-left: 1rem;
    margin-right: -1rem;
    transition: all 0.3s ease-in-out;
}
.seccion2 img:hover{
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
    filter: brightness(70%); /* Oscurece la imagen al 70% de su brillo original */
}
.texto-seccion2 p{
    margin-right: 3rem;
    margin-top: 2rem;
    text-align: left;
    font-size: 1.3rem;
}
.texto-seccion2 span{
    font-weight: bold;
    font-size: 1.2rem;
    color: #333333;
    text-align: left;
}
.texto-seccion2 button{
    cursor: pointer;
    text-align: center;
}
.texto-seccion2 h1{
    margin-top: -2rem;
    text-align: left;
    color: #333333;
    font-size: 2rem;
    text-transform: uppercase;
}
.texto-seccion2 span{
    font-size: 2rem;
    color: #F2C9D5;
    background-color: #333333;
    border-radius: 2rem;
    padding: 0.5rem;
}


/* SECCION 3 */

.seccion3{
    background-color: white;
    padding: 7rem;
    display: flex;
    justify-content: flex-start;
    
}
.texto-seccion3{
    display: flex;
    flex-direction: column;
    text-align: right;
}
.seccion3 img{
    width: 35rem;
    height: 27rem;
    border-radius: 3rem;
    box-shadow: #333333 5px 5px 15px;
    margin: 2rem;
    margin-left: -1rem;
    margin-right: 1rem;
    transition: all 0.3s ease-in-out;
}
.seccion3 img:hover{
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
    filter: brightness(70%); /* Oscurece la imagen al 70% de su brillo original */
}
.texto-seccion3 p{
    margin-left: 3rem;
    margin-top: 2rem;
    text-align: right;
    font-size: 1.3rem;
}
.texto-seccion3 span{
    font-weight: bold;
    font-size: 1.2rem;
    color: #333333;
    text-align: right;
}
.texto-seccion3 button{
    cursor: pointer;
    text-align: right;
}
.texto-seccion3 h1{
    margin-top: -2rem;
    text-align: right;
    color: #333333;
    font-size: 2rem;
    text-transform: uppercase;
}
.texto-seccion3 span{
    font-size: 2rem;
    color: #F2C9D5;
    background-color: #333333;
    border-radius: 2rem;
    padding: 0.5rem;
}
.texto-seccion3 button{
    margin-top: -10rem;
}

.contacto{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 3rem;
    text-align: center;
}
.contacto h1{
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #333333;
}
.formulario_contacto form{
    display: flex;
    flex-direction: column;
    margin-left: 5rem;
    margin-right: 5rem;
    border: #333333 2px solid;
    border-radius: 2rem;
    padding-right: 2rem;
    padding-left: 2rem;
    padding-bottom: 3rem;
    padding-top: 3rem;
    margin-bottom: 3rem;
}
.formulario_contacto input, .formulario_contacto textarea{
    margin: 1rem 0;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: "Macondo", cursive;
    font-size: 1rem;
}
.formulario_contacto label{
    font-size: 1.2rem;
    margin-top: 1rem;
    text-align: left;
}

iframe{
    border-radius: 2rem;
}
.contacto h2{
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #333333;
}

/* SECCION 4 */
.seccion4{
    background-color: white;
    padding: 7rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
.seccion4 h1{
    /* text-align: center; */
    color: #333333;
    font-size: 2rem;
    margin-bottom: 2rem;
    margin-top: -8rem;
    text-transform: uppercase;
}
.clientes-famosos{
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
    text-align: center;
}
.clientes-famosos img{
    width: 12.50rem;
    height: 12.50rem;
    border-radius: 50%;
    box-shadow: #333333 5px 5px 15px;
    transition: all 0.3s ease-in-out;
}
.clientes-famosos img:hover{
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}
.seccion4 span{
     font-size: 2rem;
    color: #F2C9D5;
    background-color: #333333;
    border-radius: 2rem;
    padding: 0.5rem;
}
.clientes-famosos p{
    margin-right: 2rem;
    margin-left: 2rem;
}
/* FOOTER */
footer{
    background-color: #333333;
    color: white;
    text-align: center;
    padding: 1rem 0;
}
.enlaces-footer a{
    color: white;
    text-decoration: none;
    margin: 1rem 1rem 2rem;
    margin-top: 3rem;
}
.enlaces-footer a:hover{
    color: #F2C9D5;
    text-decoration: underline;
}
.redes i{
    margin-top: 1rem;
    margin-right: 1rem;
    font-size: 1.5rem;
}
.redes i:hover{
    color: #F2C9D5;
}

/* 
---------------------------------------
ESTILOS DEL MENU COGIDO DE UN SITIO WEB 
---------------------------------------
*/
.respmenu {
  display: none;
}

.respmenu a {
  color: inherit;
  text-decoration: none;
  display: block;
  padding: 10px 20px;
  max-width: 200px;
  background: #333333;
  font-variant: small-caps;
  text-shadow: 1px 1px black;
}

.respmenu input[type="checkbox"], .respmenu .fa-bars, .respmenu .fa-times {
  position: absolute;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  right: 0;
  top: 0;
  width: 32px;
  height: 32px;
}

.respmenu .fa-bars, .respmenu .fa-times {
  font-size: 32px;
  pointer-events: none;
}

.respmenu input[type="checkbox"] {
  opacity: 0;
}

.respmenu {
  color: white;
  position: relative;
  background: #333333;
  min-height: 32px;
}

.respmenu nav {
  display: none;
}

.respmenu input:checked ~ nav {
  display: block;
}

.respmenu input:checked ~ .fa-bars {
  display: none;
}

.respmenu input:not(:checked) ~ .fa-times {
  display: none;
}
/* 
--------------------------------------------------
FIN DE LOS ESTILOS DEL MENU COGIDO DE UN SITIO WEB 
--------------------------------------------------
*/

/* FLECHA PARA SUBIR ARRIBA */
.flecha-arriba {
    display: none; /* Oculta por defecto */
    position: fixed; 
    bottom: 20px;
    right: 10px; 
    background-color: #333333; 
    color: #F2C9D5; 
    padding: 15px;
    border-radius: 20%; 
    text-decoration: none;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out; /* Transición suave */
    z-index: 1000; /* Para que esté encima de todo */
}

.flecha-arriba:hover {
    background-color: #F2C9D5;
    color: #333333;
}

.flecha-arriba.mostrar {
    display: block; /* Muestra cuando JS le agregue la clase */
}

/* COCINA SECCION 2*/
.cocina2{
    background-color: white;
    padding: 7rem;
    display: flex;
    justify-content: flex-start;
    
}
.texto-cocina2{
    display: flex;
    flex-direction: column;
    text-align: left;
}
.cocina2 img{
    width: 35rem;
    height: 27rem;
    border-radius: 3rem;
    box-shadow: #333333 5px 5px 15px;
    margin: 2rem;
    margin-left: 1rem;
    margin-right: -1rem;
    transition: all 0.3s ease-in-out;
}
.cocina2 img:hover{
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
    filter: brightness(70%); /* Oscurece la imagen al 70% de su brillo original */
}
.texto-cocina2 p{
    margin-left: 0.5rem;
    margin-top: 2rem;
    text-align: justify;
    font-size: 1.3rem;
    margin-right: 1rem;
}
.texto-cocina2 span{
    font-weight: bold;
    font-size: 1.2rem;
    color: #333333;
    text-align: left;
}

.texto-cocina2 h1{
    margin-top: -2rem;
    text-align: left;
    color: #333333;
    font-size: 2rem;
    margin-left: 0.5rem;
    text-transform: uppercase;
}
.texto-cocina2 span{
    font-size: 2rem;
    color: #F2C9D5;
    background-color: #333333;
    border-radius: 2rem;
    padding: 0.5rem;
}

/* COCINA SECCION 3 */
.cocina3{
    background-color: #333333;
    padding: 7rem;
    display: flex;
    justify-content: flex-start;
    
}
.texto-cocina3{
    display: flex;
    flex-direction: column;
    text-align: right;
}
.cocina3 img{
    width: 35rem;
    height: 25rem;
    border-radius: 3rem;
    box-shadow: #333333 5px 5px 15px;
    margin: 2rem;
    margin-left: -1rem;
    margin-right: 1rem;
    margin-top: 6rem;
    transition: all 0.3s ease-in-out;
}
.cocina3 img:hover{
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
    filter: brightness(70%); /* Oscurece la imagen al 70% de su brillo original */
}
.texto-cocina3 p{
    margin-left: 3rem;
    margin-top: 2rem;
    text-align: right;
    font-size: 1.3rem;
    color: whitesmoke;
}
.texto-cocina3 span{
    font-weight: bold;
    font-size: 1.2rem;
    color: #333333;
    text-align: right;
}
.texto-cocina3 h1{
    margin-top: -2rem;
    text-align: right;
    color: #F2C9D5;
    font-size: 2rem;
    text-transform: uppercase;
}
.texto-cocina3 h2{
    margin-top: 1rem;
    text-align: right;
    color: #F2C9D5;
    font-size: 1.5rem;
}
.texto-cocina3 span{
    font-size: 2rem;
    color: #333333;
    background-color: #F2C9D5;
    border-radius: 2rem;
    padding: 0.5rem;
}

/* COCINA SECCION 4 */
.cocina4{
    background-color: white;
    padding: 7rem;
    display: flex;
    justify-content: flex-start;
    
}
.texto-cocina4{
    display: flex;
    flex-direction: column;
    text-align: left;
}
.cocina4 img{
    width: 35rem;
    height: 27rem;
    border-radius: 3rem;
    box-shadow: #333333 5px 5px 15px;
    margin: 2rem;
    margin-left: 1rem;
    margin-right: -1rem;
    transition: all 0.3s ease-in-out;
}
.cocina4 img:hover{
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
    filter: brightness(70%); /* Oscurece la imagen al 70% de su brillo original */
}
.texto-cocina4 p{
    margin-left: 0.5rem;
    margin-top: 2rem;
    text-align: justify;
    font-size: 1.3rem;
    margin-right: 1rem;
}
.texto-cocina4 span{
    font-weight: bold;
    font-size: 1.2rem;
    color: #333333;
    text-align: left;
}

.texto-cocina4 h1{
    margin-top: -2rem;
    text-align: left;
    color: #333333;
    font-size: 2rem;
    margin-left: 0.5rem;
    text-transform: uppercase;
}
.texto-cocina4 h2{
    margin-left: 0.5rem;
    text-align: left;
    color: #333333;
    font-size: 1.5rem;
}
.texto-cocina4 span{
    font-size: 2rem;
    color: #F2C9D5;
    background-color: #333333;
    border-radius: 2rem;
    padding: 0.5rem;
}
.texto-cocina4 button{
    cursor: pointer;
    text-align: left;
    margin-left: 0.5rem;
    margin-top: -1rem;
}

/* CARDS DE LOS PLATOS DE LA SECCION 4 */
.cards-platos {
    display: flex;
    flex-wrap: wrap;
    margin-top: -6rem;
    background-color: white;
    padding: 7rem;
    justify-content: center; /* centra las cards */
}

.card {
    flex: 1 1 calc(44.44% - 20px); /* 3 cards por fila */
    background: #fff;
    border-radius: 2rem;
    overflow: hidden;
    box-shadow: 0 6px 12px rgba(0,0,0,0.1);
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    margin: 2rem;
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    margin-right: 0;
    margin-left: 0;
}

.card h3 {
    margin: 15px 0 10px;
    color: #333333;
    font-size: 1.2rem;
}

.card p {
    font-size: 0.95rem;
    color: #555;
    padding: 0 10px 15px;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 20px rgba(0,0,0,0.15);
}
.platos-populares h1{
    text-align: center;
    color: #333333;
}
.platos-populares{
    margin-top: -4rem;
}
/* VERSION MOVIL */
@media (max-width: 749px) {
    body {
        height: auto;
        background-image: url('../imgs/fondo2.jpg');
    }

    header {
        position: relative;
        flex-direction: column;
        align-items: center;
        margin: 1rem;
        padding: 1rem 0;
    }

    header h1 {
        font-size: 1.5rem;
        margin: 0.5rem 0;
    }

    #logo {
        height: 2.5rem;
        margin: 0.5rem;
    }

    .menu {
        display: none;
    }

    .respmenu {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        margin-right: 2rem;
        margin-top: 1.8rem;
    }

    .respmenu nav {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 32px;
        right: 0;
        background: #333333;
        border-radius: 0 0 2rem 2rem;
        padding: 0.5rem;
        box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    }

    .respmenu input:checked ~ nav {
        display: flex;
    }

    .respmenu nav ul {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        flex-direction: column;
    }

    .respmenu nav li {
        margin: 0;
    }

    .respmenu nav a {
        margin: 0.5rem;
        color: white;
        text-decoration: none;
        font-size: 1rem;
        font-family: "Macondo", cursive;
        padding: 8px;
        border-radius: 1rem;
    }

    .respmenu nav a:hover {
        color: #F2C9D5;
    }

    .intro {
        height: auto;
        padding: 2rem 1rem;
        text-align: center;
        padding-bottom: 13rem;
        
    }

    .intro h1 {
        margin-top: 50%;
        font-size: 2rem;
    }

    .btn-primary {
        font-size: 1rem;
        padding: 8px 16px;
    }

    .seccion2 {
        flex-direction: column;
        padding: 1rem;
        align-items: center;
    }

    .texto-seccion2 {
        flex-direction: column;
        align-items: center;
    }

    .seccion2 img {
        width: 35rem;
        height: 15rem;
        max-width: 20rem;
        margin: 1rem 0;
    }

    .texto-seccion2 p {
        margin: 1rem 0;
        text-align: center;
        font-size: 1rem;
    }
    .texto-seccion2 span {
        text-align: center;
        font-size: 1.5rem;
    }
    .texto-seccion2 h1{
        margin-top: 2rem;
        font-size: 1.5rem;
    }

    /* SECCION 3 */
    .seccion3 {
        flex-direction: column;
        padding: 1rem;
        align-items: center;
    }

    .texto-seccion3 {
        flex-direction: column;
        align-items: center;
    }

    .seccion3 img {
        width: 35rem;
        height: 15rem;
        max-width: 20rem;
        margin: 1rem 0;
    }

    .texto-seccion3 p {
        margin: 1rem 0;
        text-align: center;
        font-size: 1rem;
    }
    .texto-seccion3 span {
        text-align: center;
        font-size: 1.5rem;
    }
    .texto-seccion3 h1{
        margin-top: 2rem;
        font-size: 1.5rem;
    }

    /* COCINA SECCION 2 */
    .cocina2 {
        flex-direction: column;
        padding: 1rem;
        align-items: center;
    }

    .texto-cocina2 {
        flex-direction: column;
        align-items: center;
    }

    .cocina2 img {
        width: 35rem;
        height: 15rem;
        max-width: 20rem;
        margin: 1rem 0;
    }

    .texto-cocina2 p {
        margin: 1rem 0;
        text-align: center;
        font-size: 1rem;
    }
    .texto-cocina2 span {
        text-align: center;
        font-size: 1.5rem;
    }
    .texto-cocina2 h1{
        margin-top: 2rem;
        font-size: 1.5rem;
    }

    /* COCINA SECCION 3 */
    .cocina3 {
        flex-direction: column;
        padding: 1rem;
        align-items: center;
        
    }

    .texto-cocina3 {
        flex-direction: column;
        align-items: center;
    }

    .cocina3 img {
        width: 35rem;
        height: 15rem;
        max-width: 20rem;
        margin: 1rem 0;
    }

    .texto-cocina3 p {
        margin: 1rem 0;
        text-align: center;
        font-size: 1rem;
    }
    .texto-cocina3 span {
        text-align: center;
        font-size: 1.5rem;
    }
    .texto-cocina3 h1{
        margin-top: 2rem;
        font-size: 1.5rem;
    }
    .texto-cocina3 h2{
        margin-top: 1rem;
        font-size: 1.2rem;
        text-align: center;
    }

    /* COCINA SECCION 4 */
        .cocina4 {
        flex-direction: column;
        padding: 1rem;
        align-items: center;
    }

    .texto-cocina4 {
        flex-direction: column;
        align-items: center;
    }
    .texto-cocina4 h2{
        margin-top: 1rem;
        font-size: 1.2rem;
        text-align: center;
    }

    .cocina4 img {
        width: 35rem;
        height: 15rem;
        max-width: 20rem;
        margin: 1rem 0;
        margin-bottom: 4rem;
    }

    .texto-cocina4 p {
        margin: 1rem 0;
        text-align: center;
        font-size: 1rem;
    }
    .texto-cocina4 span {
        text-align: center;
        font-size: 1.5rem;
    }
    .texto-cocina4 h1{
        margin-top: 2rem;
        font-size: 1.5rem;
    }
    
    /* CARDS COCINA SECCION 4 */
    .cards-platos {
        flex-direction: column;
        padding: 3rem 1rem;
    }

    .card {
        flex: 1 1 100%; 
        max-width: 400px; 
        margin: 1rem auto;
        height: auto; 
    }

    .card img {
        height: 200px; 
    }
    .platos-populares h1{
        margin-top: 5rem;
        margin-bottom: 4rem;
    }
    .platos-populares{
        margin-top: -5.5rem;
    }

    /* SECCION 4 */
.seccion4{
    background-color: white;
    padding: 7rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
.seccion4 h1{
    /* text-align: center; */
    color: #333333;
    font-size: 1.2rem;
    margin-bottom: -3rem;
    margin-top: -2rem;
    text-transform: uppercase;
    
}
.clientes-famosos{
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
    text-align: center;
    flex-direction: column;
}
.clientes-famosos img{
    width: 10.50rem;
    height: 10.50rem;
    border-radius: 50%;
    box-shadow: #333333 5px 5px 15px;
    transition: all 0.3s ease-in-out;
    margin-top: 5rem;
}
.clientes-famosos img:hover{
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}
.seccion4 span{
    font-size: 1.2rem;
    color: #F2C9D5;
    background-color: #333333;
    border-radius: 2rem;
    padding: 0.5rem;
}
.clientes-famosos p{
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    margin-bottom: 1rem;
    text-align: center;
}
    

    .enlaces-footer a{
        color: white;
        text-decoration: none;
        margin: 1rem 0rem 2rem;
        margin-top: 3rem;
        font-size: 0.7rem;
    }
}